[Unit]
Description=Smart Shutdown (To keep HDD Integrity!)

[Service]
ExecStart=/lib/smart-down/smartdown.sh
TimeoutSec=30
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
