[Unit]
Description=Smart Shutdown (To keep HDD Integrity!)

[Service]
ExecStart=/home/youruser/.scripts/"safedown.sh"
TimeoutSec=30
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
